" UI
set number
set showmode
set showcmd

" Editor UI
set scrolloff=2

" Search
set incsearch
"set hlsearch
set ignorecase
set smartcase

" Plugins
set highlightedyank

" IdeaVim Specific Settings
set ideastatusicon=gray

" Mappings
" Leader key
let mapleader = " "

" IDE
map <leader>rn <Action>(RenameElement)
