""""""""""""""""""""""""""""""""""""""""""""""""""
" kjh's .ideavimrc


""""""""""""""""""""""""""""""""""""""""""""""""""
" Plugins

set surround
set commentary
set highlightedyank


""""""""""""""""""""""""""""""""""""""""""""""""""
" Options

" UI options
set number
set relativenumber
set showmode
set showcmd

" Editor UI options
set scrolloff=2

" Search options
set incsearch
"set hlsearch
set ignorecase
set smartcase

" Mapping options
set timeoutlen=500

" IdeaVim specific options
set ideastatusicon=gray
set ideajoin
set idearefactormode=keep


""""""""""""""""""""""""""""""""""""""""""""""""""
" Mappings

let mapleader = " "

" Neovim defaults
nnoremap Y y$

" Window movements
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

" Map jump list movements to IDE actions
nmap <C-o> <Action>(Back)
nmap <C-i> <Action>(Forward)

" Search mappings
map <Leader>/ <Action>(Find)
map <Leader>s <Action>(Replace)
nmap <Leader>f/ <Action>(FindInPath)

" IDE actions

map K <Action>(QuickJavaDoc)
map <Leader>t <Action>(Scala.TypeInfo)
map <Leader>p <Action>(ParameterInfo)
imap <C-k> <Action>(ParameterInfo)

"map gd <Action>(GotoDeclaration)
map gD <Action>(GotoTypeDeclaration)

nmap <Leader>rn <Action>(RenameElement)

map <Leader>d <Action>(ShowErrorDescription)

nmap <F5> <Action>(Run)
