""""""""""""""""""""""""""""""""""""""""""""""""""
" Plugins

" Map leader
let mapleader = " "
let maplocalleader = " "

" Plugins
set surround
set commentary
set highlightedyank

""""""""""""""""""""""""""""""""""""""""""""""""""
" Options

" UI
set number
set showmode
set showcmd

" Behavior
set timeoutlen=500
set scrolloff=2

" Search options
set incsearch
set ignorecase
set smartcase

" IdeaVim specific options
set ideastatusicon=gray
set ideajoin
set idearefactormode=keep

""""""""""""""""""""""""""""""""""""""""""""""""""
" Mappings

" Neovim defaults
nnoremap Y y$

" Window movements
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

" Map jump list movements to IDE actions
nmap <C-o> <Action>(Back)
nmap <C-i> <Action>(Forward)

" IDE actions
" See also: https://github.com/JetBrains/ideavim/blob/master/src/main/java/com/maddyhome/idea/vim/package-info.java
nmap gD <Action>(GotoTypeDeclaration)
imap <C-k> <Action>(ParameterInfo)
map <Leader>t <Action>(Scala.TypeInfo)
nmap <Leader>d <Action>(ShowErrorDescription)
nmap <Leader>rn <Action>(RenameElement)
